{% extends "base.html" %}

{% block content %}
<div class="card" style="max-width: 400px; margin: 2rem auto;">
    <h2 style="text-align: center;">Novo Cadastro</h2>
    <form method="POST">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div style="background-color: #ffd7d7; color: #990000; padding: 10px; border-radius: 5px; margin-bottom: 10px;">
            {{ messages[0] }}</div>
        {% endif %}
        {% endwith %}

        <div>
            <label for="full_name">Nome Completo (Será seu Login)</label>
            <input type="text" name="full_name" id="full_name" placeholder="Ex: Maria Silva" required>
        </div>

        <div>
            <label for="password">Crie uma Senha</label>
            <input type="password" name="password" id="password" required>
        </div>

        <button type="submit">Cadastrar</button>
        <p style="text-align: center; margin-top: 1rem;">
            Já tem conta? <a href="{{ url_for('login') }}">Faça login</a>
        </p>
    </form>
</div>
{% endblock %}